a {
    color: #e31c25;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

a:hover {
    color: #000;
}

h1 {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    h1 {
        font-size: 2.5rem;
    }
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    h2 {
        font-size: 1.75rem;
    }
}

h3 {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
}

@media (max-width: 767px) {
    p {
        font-size: 1rem;
    }
}

.card-course {
    background-size: cover;
    height: 320px;
}

.card-course h2 {
    background: rgba(0, 0, 0, 0.25);
    background-position: center;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    color: #fff;
    margin-bottom: 0;
}

.card-trainer .card-body {
    background-color: #000;
}

.card-trainer .card-body h3 {
    color: #e31c25;
}

.card-trainer .card-body p {
    color: #fff;
}

.card-trainer .card-img-top {
    border-radius: 0;
}

#carouselGym .carousel-item {
    background-position: center;
    background-size: cover;
    height: 50vw;
    max-height: 768px;
    min-height: 320px;
}

.carousel-caption {
    position: absolute;
    z-index: 1;
    display:table;
    width:100%;
    height:100%;
}

.absolute-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-caption h1 {
    text-align: center;
    position: absolute;
    top: 53%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 7vw;
}

.carousel-caption p {
    text-align: center;
    position: absolute;
    top: 78%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2vw;
}

.dropdown-menu {
    background-color: #e31c25;
    border-color: #fff;
    border-radius: 0;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover, .dropdown-item.active {
    background-color: #000;
    color: #fff;
}

footer {
    background-color: #e31c25;
}

footer hr {
    border-top-color: #fff;
    opacity: 1;
}

footer .nav-link, footer {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

footer .nav-link:hover {
    color: #000;
}

footer .nav-social i {
    color: #fff;
    font-size: 32px;
}

.btn {
    font-family: 'Montserrat', sans-serif;
}

.btn-primary {
    background-color: #e31c25;
    border: none;
    font-size: 1.25rem;
}

@media (max-width: 767px) {
    .btn-primary {
        font-size: 1rem;
    }
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #000 !important;
}

.card-pricing .card-header {
    background-color: #e31c25;
}

.card-pricing .card-header h3 {
    color: #fff;
}

.fa-contact {
    color: #e31c25;
    font-size: 1.75rem;
    margin-bottom: 15px;
}

.fancybox-img {
    display: block;
    overflow: hidden;
}

.fancybox-img img {
    transition: transform 0.5s;
}

.fancybox-img:hover img {
    transform: scale(1.15);
}

.form-control {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15rem;
}

@media (max-width: 767px) {
    .form-control {
        font-size: 1rem;
    }
}

.hero {
    align-items: center;
    background-color: #e31c25;
    display: flex;
    height: 25vw;
    max-height: 300px;
    min-height: 150px;
}

.lead {
    font-size: 1.5rem;
    font-weight: 300;
}

@media (max-width: 767px) {
    .lead {
        font-size: 1.05rem;
    }
}

.navbar {
    background-color: #000;
    box-shadow: 0 3px 3px rgb(0 0 0 / 25%);
}

.navbar .nav-link {
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.navbar .nav-link.active, .navbar .nav-link:hover {
    color: #e31c25;
}

.fancybox__caption, .fancybox__counter {
    font-family: 'Montserrat', sans-serif;
}

.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
    border-color: #e31c25;
}

.red {
    color: #e31c25;;
}
